**/node_modules
packages/backend/data
packages/backend/ui
packages/frontend/public/generated-tabler-icons
packages/system/build

.git
.codegraph
.agents
**/dist
**/*.env
**/.env
**/.env.*
!**/.env.example
